<%- include("navbar.ejs") %>

<!-- Contact Page Css-->
<link rel="stylesheet" href="css/contact_style.css">


   <section>
    <div class="container-fluid  d-flex align-items-center justify-content-center hero">
        <div class="row">
            <div class="col-12">
                  <h1 class="text-white ">Contact Us</h1>
            </div>
        </div>
    </div>
   </section>


   

   <Section class="mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                
                <h3 class="fw-bold mb-3 form-title">Get in Touch</h3>
                <p class="text-muted">
                  Reach out to us for appointments,Enquery, or general queries.
                </p>

        <ul class="list-unstyled mt-4">
          <li class="mb-3">
            <strong>📍 Address:</strong><br>
            Chahal  Academy, Main Road, Ahmednagar, Maharashtra
          </li>
          <li class="mb-3">
            <strong>📞 Phone:</strong><br>
            +91 98765 43210
          </li>
          <li class="mb-3">
            <strong>✉️ Email:</strong><br>
            contact@gmail.com
          </li>
          <li>
            <strong>⏰ Working Hours:</strong><br>
             9:00 AM to 5:00 PM 
          </li>
        </ul>
      
            </div>
            <div class="col-md-7">
                 
                 <div class="card shadow-sm border-0">
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4 form-title">Drop a Message</h4>

            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" placeholder="Enter your name" name="name">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Email Address</label>
                  <input type="email" class="form-control" placeholder="Enter your email" name="email">
                </div>
              </div>
               <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter your phone number" name="mo_number">
              </div>
               <div class="col-md-6 mb-3">
                <label class="form-label">City</label>
                <input type="text" class="form-control" placeholder="Enter your phone City" name="city">
                </div> 
            </div>

              <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea rows="4" class="form-control" placeholder="Write your message" name="message"></textarea>
              </div>

              <button type="submit" class="btn btn-primary px-4">
                Send Message
              </button>
            </form>

          </div>
        </div>

            </div>
        </div>
    </div>
   </Section>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 p-4">
                <h2 class="text-center">Chahal Academy</h2>
                <P class="text-center mx-auto w-75 mt-3 fs-5">Do you Dream of Becoming an IAS? Enroll today at Chahal Academy IAS Coaching in India.
                    Chahal Academy is An Institute That Believes in "You"! We are Here to Help You Achieve Your
                    Dreams, The Dreams Which Others Only Dream About! </P>
            </div>
        </div>
    </div>
   </section>


   <section class="mt-5">
    <div class="container mt-5">
          <div class="row mb-5">
            <div class="col-12">
                <div class="form-section">
                    <h3 class="form-title mb-4">Our Location</h3>
                    <p class="mb-3">Visit our main branch at the location shown below:</p>
                    <div class="mt-5 ">
                        <!-- Embedded Google Map -->
                       
                                            <iframe style="border-radius: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20916.00457910997!2d74.73775822519443!3d19.08656624901946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcb05fc8fcc223%3A0x3444738c7e3d96da!2sVishal%20Ganpati%20Mandir%2C%20Ahilyanagar!5e0!3m2!1sen!2sin!4v1769099326891!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>

<%- include("footer.ejs") %>