<%- include("navbar.ejs") %>

<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>
<h1>Welcome To Home Page</h1>

<%- include("footer.ejs") %>
